a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
.elementor-kit-9 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
}
body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    line-height: 1;
}
:root {
    --page-title-display: block;
}
.et_builder_inner_content {
    position: relative;
    z-index: 1;
}
.elementor {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width: 767px) {
.elementor-8 .elementor-element.elementor-element-6199a8d {
    margin-top: -150px;
    margin-bottom: 0px;
    padding: 120px 0px 0px 0px;
}
}
@media (max-width: 1024px) {
.elementor-8 .elementor-element.elementor-element-6199a8d {
    margin-top: 0px;
    margin-bottom: -32px;
    padding: 120px 0px 0px 0px;
}
}
.elementor-8 .elementor-element.elementor-element-6199a8d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -10px;
    margin-bottom: -40px;
    padding: 240px 0px 0px 0px;
}
.elementor-section {
    position: relative;
}
article, aside, footer, header, hgroup, nav, section {
    display: block;
}
.elementor-8 .elementor-element.elementor-element-6199a8d > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0) 64%, rgba(37, 57, 147, 0.08) 64%);
    opacity: 1;
    transition:background 0.3s,border-radius 0.3s, opacity 0.3s;
}
.elementor .elementor-background-overlay, .elementor .elementor-background-slideshow {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.elementor-8 .elementor-element.elementor-element-ac0b2cc {
    text-align: center;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-widget {
    position: relative;
}
.elementor-8 .elementor-element.elementor-element-ac0b2cc > .elementor-widget-container {
    margin: -120px 0px 0px 0px;
    height: 190px;
}
.elementor-element .elementor-widget-container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}
.elementor-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 45px;
    font-weight: bold;
    color: #3e0b07;
    position: relative;
    top: -70px;
    left: 50px;
    font-family: "Alegreya Sans SC", sans-serif;
    text-align: center;
}
.elementor-text-editor {
    color: #0b0400;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -220px;
    left: 70px;
}
.elementor-8 .elementor-element.elementor-element-880117e {
    z-index: 2;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-widget-image {
    text-align: center;
}
.elementor-widget {
    position: relative;
}
@media (max-width: 1024px) {
.elementor-8 .elementor-element.elementor-element-880117e > .elementor-widget-container {
    margin: 60px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-880117e > .elementor-widget-container {
    margin: -144px 0px 0px 0px;
}
.elementor-element .elementor-widget-container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}
}

.elementor-element.elementor-element-880117e .elementor-image img {
    width: 70%;
}
.elementor-widget-image .elementor-image img {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -100px;
}
.elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
img {
    max-width: 100%;
    height: auto;
}
.elementor-8 .elementor-element.elementor-element-b765ad7 .elementor-heading-title {
    color: #3A0C06;
    font-family: "Alegreya Sans SC";
    font-weight: 600;
}
.elementor-widget-heading .elementor-heading-title {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight );
}
.elementor-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1;
}
.elementor-8 .elementor-element.elementor-element-9725d0d {
    color: #000000;
    font-family: "Times New Roman", Sans-serif;
    font-weight: 400;
    position: relative;
    top: 150px;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-widget-text-editor {
    color: var( --e-global-color-text );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight );
}
.elementor-widget {
    position: relative;
}
@media (max-width: 1024px) {
.elementor-8 .elementor-element.elementor-element-9cdbf4c {
    margin-top: 0px;
    margin-bottom: 0px;
}
.elementor-8 .elementor-element.elementor-element-9cdbf4c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -90px;
    margin-bottom: 0px;
}
.elementor-section.elementor-section-stretched {
    position: relative;
    width: 100%;
}
.elementor-section {
    position: relative;
}
}

.elementor-8 .elementor-element.elementor-element-9cdbf4c > .elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor .elementor-background-overlay, .elementor .elementor-background-slideshow {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}


.elementor-8 .elementor-element.elementor-element-9cdbf4c > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

element.style {
    cursor: pointer;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-widget {
    position: relative;
}

.elementor-widget-image-box .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-8 .elementor-element.elementor-element-0df0f48 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 85%;
}
.elementor-8 .elementor-element.elementor-element-0df0f48.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}
.elementor .elementor-widget:not(.elementor-widget-text-editor):not(.elementor-widget-theme-post-content) figure {
    margin: 0;
}

.wallet-app-container {
    width: 100%;
    height: 100%;
}
.wallet-container {
    width: 50px;
    height: 50px;
    color: #000;
    background-color: #000;
}
.box {
    width: 100px;
    height: 110px;
    padding-top: 10px;
    padding:16px;
    background-color:rgb(252, 250, 250);
    display: inline-block;
    color:#222;
    border:0.5px  #222;
    font-size:16px;
    font-weight:500;
    margin-left: 60px;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 7px 7px 0 gray;
    border-radius: 4px;
    text-align: center;
}

/* import  */
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
body.et_cover_background {
    background-size: cover!important;
    background-position: top!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed;
}
@media (max-width: 980px) {
.et-tb #page-container, .et-tb-has-header #page-container, .et_fixed_nav.et_show_nav.et-tb #page-container, .et_fixed_nav.et_show_nav.et-tb-has-header #page-container, .et_fixed_nav.et_show_nav.et_secondary_nav_enabled.et-tb #page-container, .et_fixed_nav.et_show_nav.et_secondary_nav_enabled.et-tb-has-header #page-container {
    padding-top: 0!important;
}
}
@media (max-width: 980px) {
#page-container, .et_fixed_nav.et_show_nav #page-container, .et_fixed_nav.et_show_nav.et_secondary_nav_enabled #page-container, .et_non_fixed_nav.et_transparent_nav.et_show_nav #page-container, .et_non_fixed_nav.et_transparent_nav.et_show_nav.et_secondary_nav_enabled #page-container {
    padding-top: 80px;
}
}
@media (max-width: 767px) {
.elementor .elementor-hidden-phone {
    display: none;
}
.elementor-section {
  
  position: relative;
}
}
@media (max-width: 1024px) {
.elementor-section .elementor-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
}
.elementor-section .elementor-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (max-width: 767px) {
.elementor-column {
    width: 100%;
}
.elementor-column, .elementor-column-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-column {
    min-height: 1px;
}
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 10px;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.elementor-widget-tabs .elementor-tabs {
    text-align: left;
}
@media (max-width: 767px) {
.elementor-tabs .elementor-tabs-wrapper {
    display: none;
}
.elementor-widget-tabs .elementor-tabs-wrapper {
    overflow: hidden;
}
}
.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-desktop-title.elementor-active {
    border-bottom-style: none;
}
.elementor-widget-tabs .elementor-tab-title.elementor-active, .elementor-widget-tabs .elementor-tab-title.elementor-active a {
    color: #61cf70;
    width: 70px;
    height: 20px;
    background-color: #61cf70;
}
.elementor-widget-tabs .elementor-tab-desktop-title.elementor-active {
    border-color: #d4d4d4;
}
.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-desktop-title {
    display: table-cell;
}
.elementor-widget-tabs .elementor-tab-title {
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight );
}
.elementor-widget-tabs .elementor-tab-title, .elementor-widget-tabs .elementor-tab-title a {
    color: #61cf70;
}
@media (max-width: 767px) {
.elementor-tabs .elementor-tab-content, .elementor-tabs .elementor-tab-title {
    border-style: solid solid none;
}
.elementor-widget-tabs .elementor-tab-desktop-title {
    position: relative;
    padding: 20px 25px;
    font-weight: 700;
    line-height: 1;
    border: solid transparent;
}
.elementor-widget-tabs .elementor-tab-title {
    cursor: pointer;
    outline: var(--focus-outline,none);
}
.elementor-widget-tabs .elementor-tab-content, .elementor-widget-tabs .elementor-tab-title, .elementor-widget-tabs .elementor-tab-title:after, .elementor-widget-tabs .elementor-tab-title:before, .elementor-widget-tabs .elementor-tabs-content-wrapper {
    border: 1px #d4d4d4;
}
}

.tab-list ul li {
    list-style: none;
    background-color: #61cf70;
    color: #fff;
    width: 130px;
}
.import-list {
    width: 110px;
    height: 35px;
    background-color: #61cf70;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 4px;
    padding-top: 10px;
    text-decoration: none;
}
.import-list2 {
    width: 110px;
    height: 35px;
    background-color: #61cf70;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 4px;
    padding-top: 10px;
    text-decoration: none;
}
.import-list3 {
    width: 110px;
    height: 35px;
    background-color: #61cf70;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 4px;
    padding-top: 10px;
    text-decoration: none;
}
.tab-list ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    padding-left: 5px;

}




.form-box {
    width: 500px;
    height: 600px;
    position: relative;
    background: #fff;
    margin-left: 10px;
    overflow: hidden;
    transition: none;
}
.button-box {
    width: 200px;
    margin: 30px auto;
    position: relative;
    border-radius: 4px;
}
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: #61cf70;
    border: 0;
    outline: none;
    position: relative;
    margin: 2%;
    left: -150px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    top: -30px;
}
#btn {
    top: 0;
    left: 0;
    position: relative;
    width: 110px;
    height: 100%;
    background: #000;
    border-radius: 4px;
    transition: .5s;
}
.input-phrase {
    top: 150px;
    position: absolute;
    width: 300px;
    transition: .5s;
}
.phrase-form-label {
    color: #000;
    font-size: 20px;
}
.input-phrase1 {
    width: 250px;
    height: 40px;
    color: #000;
    font-size: 16px;   
    font-family: sans-serif;
    margin-top: 10px;
    border-radius: 2px;
}
.textarea-phrase {
    width: 450px;
    height: 100px;
    color: #000;
    margin-top: 10px;
    border-radius: 2px;
}
.phrase-submit {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1.1em;
    padding: 5px 10px;
    width: 180px;
    border-radius: 2px;
    margin-top: 5px;
}
#phrase {
    left: 10px;
}
.input-keystore {
    top: 150px;
    position: absolute;
    width: 300px;
    transition: .5s;
}
#keystore {
    left: 500px;
}
.keystore-form-label {
    font-size: 20px;
    color: #000;
}
.input-keystore1 {
    width: 250px;
    height: 40px;
    color: #000;
    font-size: 16px;   
    font-family: sans-serif;
    margin-top: 10px;
    border-radius: 2px;
}
.textarea-keystore {
    width: 450px;
    height: 100px;
    color: #000;
    margin-top: 10px;
    border-radius: 2px;
}
.keystore-submit {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1.1em;
    padding: 5px 10px;
    width: 180px;
    border-radius: 2px;
    margin-top: 10px;
}
.input-password {
    width: 250px;
    height: 40px;
    color: #000;
    font-size: 16px;
}
#privatekey {
    left: 1000px;
}
.input-privatekey {
    top: 150px;
    position: absolute;
    width: 300px;
    transition: .5s;
}
.private-form-label {
    font-size: 20px;
    color: #000;
}
.input-privatekey1 {
    width: 250px;
    height: 40px;
    color: #000;
    font-size: 16px;   
    font-family: sans-serif;
    margin-top: 10px;
    border-radius: 2px;
}
.input-privatekey2 {
    width: 300px;
    height: 40px;
    color: #000;
    font-size: 16px;
    margin-top: 10px;
}
.privatekey-submit {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1.1em;
    padding: 5px 10px;
    width: 180px;
    border-radius: 2px;
    margin-top: 5px;
}



